
  

body{

    display:block;
    margin: 8px;
    color: #eee0ec;

}
.botao{
    border: none;
    background-color: blueviolet;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: none;
    color: white;

}
.carrinho{
    background-color: black;
    color: white;
    padding: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-color: blueviolet;
    border-radius: 15px;
    
    
}
.produtos{
    color: blueviolet;
    background-color:#ecc9e8;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
#topo{

    font-family: "Metal Mania", system-ui;
    background-color: blueviolet;
    font-weight: 400;
    color: black;

}